
NEXT_PUBLIC_APP_NAME="Conectando PH"
# BACKEND (NestJS)
# URL base del backend (NO quemada en código)
BACKEND_API_URL=http://localhost:3001/api/v1
AUTH_PROVIDER_DEFAULT=accessEmail

# Credenciales del cliente (usadas SOLO en API routes de Next)
AUTH_CLIENT_ID=cliente
AUTH_CLIENT_SECRET=secreto12345

# FRONTEND / AUTH
# Se usa para firmar cookies o sesiones (más adelante)
AUTH_SECRET=secreto123456

# URL base del frontend (Next.js)
AUTH_URL=http://localhost:3000
AUTH_PROVIDER_DEFAULT=accessEmail

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secreto12345
# Tiempo de sesión en segundos (por defecto 3600 segundos = 1 hora)
NEXTAUTH_SESSION_TIMEOUT=3600