
NEXT_PUBLIC_APP_NAME="Conectando PH"
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001/api/v1

# Auth
AUTH_SECRET=secreto123456789012345678901234567890
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secreto123456789012345678901234567890
NEXTAUTH_SESSION_TIMEOUT=3600
AUTH_PROVIDER_DEFAULT=accessEmail

# Client API (conecta a backend externo)
AUTH_CLIENT_ID=cliente
AUTH_CLIENT_SECRET=secreto12345
