.footer {
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  position: fixed;
  bottom: 0px;
  background: #ffff;
  padding: 1rem;
  @media screen and (max-width:1024px) {
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
 .containerFooter{
  display: flex;
  justify-content: center;
  gap: 2rem;
}


.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 12px;
}
.item_home{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  border-right: 2px solid #E3C779;
  padding-right: 1rem;
}

.icon {
  width: 32px;
  height: 32px;
  border: 1px solid #999;
  border-radius: 50%;
  margin-bottom: 6px;
}

.label {
  font-size: 12px;
}
