.headerUsuariosPropiedad{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding-top: 2rem;
    flex-direction: column;
    gap: 1rem; 
}
.blockName{
  display: flex;
}
.saludo {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.saludoName{
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding-left: 10px;
}
